<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Project Tracker', "#", class: "button is-info" %>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav ml-auto">

    </ul>
  </div>
</nav>

<style type="text/css">
  .navbar {
    background-color: #c6d5e2 !important;
    border-radius: 0px !important;
    margin-bottom: 15px;
  }
  a {
    color: white;
  }
  .nav-item {
    margin: 5px;
  }
  .image {
    width: 20px;
    height: 20px;
  }
</style>